In [1]:
import pandas as pd
import numpy as np

In [15]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.preprocessing import MinMaxScaler , StandardScaler

loading dataset

In [3]:
df = pd.read_csv('preprocessed_df.csv')
df

,Unnamed: 0,brand_alcatel,brand_apple,brand_asus,brand_blu,brand_htc,brand_huawei,brand_infinix,brand_lenovo,brand_lg,...,CPU,ratio,pixel,Loudspeaker,3.5mm jack,RAM,Storage,Color_count,Sensors_count,Bluetooth_version
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,2.000000,1036800.0,1,1,2.000,32.0,2,1,5.0
1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.555556,1123200.0,1,1,2.000,32.0,2,3,4.2
2,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,2.000000,460800.0,1,1,1.000,8.0,2,2,4.2
3,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.222222,1152000.0,1,1,4.000,64.0,2,4,5.0
4,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.222222,1152000.0,1,1,3.000,32.0,2,4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2646,2646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.666667,96000.0,1,1,0.250,0.5,2,3,3.0
2647,2647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.666667,96000.0,1,1,0.250,0.5,2,3,3.0
2648,2648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.666667,384000.0,1,1,0.375,1.0,2,3,2.1
2649,2649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.666667,384000.0,1,1,0.500,8.0,2,3,3.0
2650,2650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.666667,384000.0,0,1,0.375,16.0,1,2,3.0

In [4]:
df.drop('Unnamed: 0' , inplace=True , axis = 1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2651 entries, 0 to 2650
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand_alcatel        2651 non-null   float64
 1   brand_apple          2651 non-null   float64
 2   brand_asus           2651 non-null   float64
 3   brand_blu            2651 non-null   float64
 4   brand_htc            2651 non-null   float64
 5   brand_huawei         2651 non-null   float64
 6   brand_infinix        2651 non-null   float64
 7   brand_lenovo         2651 non-null   float64
 8   brand_lg             2651 non-null   float64
 9   brand_nokia          2651 non-null   float64
 10  brand_samsung        2651 non-null   float64
 11  brand_sony           2651 non-null   float64
 12  brand_xiaomi         2651 non-null   float64
 13  brand_zte            2651 non-null   float64
 14  Status_Available     2651 non-null   float64
 15  Status_Coming        2651 non-null   float64
 16  Status_Discontinued  2651 non-null   float64
 17  OS_Category_android  2651 non-null   float64
 18  OS_Category_ios      2651 non-null   float64
 19  OS_Category_other    2651 non-null   float64
 20  SIM_Micro-SIM        2651 non-null   float64
 21  SIM_Mini-SIM         2651 non-null   float64
 22  SIM_Nano-SIM         2651 non-null   float64
 23  SIM_eSIM             2651 non-null   float64
 24  2G                   2651 non-null   int64
 25  3G                   2651 non-null   int64
 26  4G                   2651 non-null   int64
 27  5G                   2651 non-null   int64
 28  Announced            2651 non-null   int64
 29  Weight               2651 non-null   float64
 30  Length               2651 non-null   float64
 31  Width                2651 non-null   float64
 32  Diameter             2651 non-null   float64
 33  Display Size         2651 non-null   float64
 34  ppi                  2651 non-null   float64
 35  body ratio           2651 non-null   float64
 36  battery_capacity     2651 non-null   float64
 37  Price                2651 non-null   float64
 38  CPU                  2651 non-null   float64
 39  ratio                2651 non-null   float64
 40  pixel                2651 non-null   float64
 41  Loudspeaker          2651 non-null   int64
 42  3.5mm jack           2651 non-null   int64
 43  RAM                  2651 non-null   float64
 44  Storage              2651 non-null   float64
 45  Color_count          2651 non-null   int64
 46  Sensors_count        2651 non-null   int64
 47  Bluetooth_version    2651 non-null   float64
dtypes: float64(39), int64(9)
memory usage: 994.2 KB

In [16]:
df['OS'] = 0 * df['OS_Category_android'] +  df['OS_Category_ios']

In [17]:
df['OS'].unique()

array([0., 1.])

In [21]:
df = df[df['OS_Category_other'] == 0 ]

In [28]:
data = df.drop(columns=['OS_Category_android' , 'OS_Category_ios' , 'OS_Category_other'])

In [88]:
data.to_csv('Binary_data.csv' , index=False)

In [29]:
df_train , df_test = train_test_split(data, test_size=0.15, random_state=42)

In [89]:
df_train.to_csv('df_train.csv' , index=False)
df_test.to_csv('df_test.csv' , index=False)

In [37]:
df_train['OS'].value_counts()

OS
0.0    2075
1.0      61
Name: count, dtype: int64

In [32]:
class_0 = df_train[df_train['OS'] == 0]
class_1 = df_train[df_train['OS'] == 1]
class_0.shape , class_1.shape

((2075, 46), (61, 46))

In [53]:
X = df_train.drop('OS' , axis = 1)
y = df_train['OS']

In [54]:
X.shape , y.shape

((2136, 45), (2136,))

Random Under Sampling

In [35]:
class_0_random_under = class_0.sample(len(class_1) , random_state=42)
df_train_RandomUnderSampling = pd.concat([class_0_random_under , class_1]  , axis = 0 )

In [36]:
df_train_RandomUnderSampling['OS'].value_counts()

OS
0.0    61
1.0    61
Name: count, dtype: int64

In [90]:
df_train_RandomUnderSampling.to_csv('df_train_RandomUnderSampling.csv' , index=False)

Random Over Sampling

In [39]:
class_1_random_over = class_1.sample(len(class_0) , replace=True , random_state=42)
df_train_RandomOverSampling = pd.concat([class_0 , class_1_random_over]  , axis = 0 )

In [41]:
df_train_RandomOverSampling['OS'].value_counts()

OS
0.0    2075
1.0    2075
Name: count, dtype: int64

In [91]:
df_train_RandomOverSampling.to_csv('df_train_RandomOverSampling.csv' , index=False)

Random Under Sampling with imbalanced-learn

In [63]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=42)
rusX , rusy  = rus.fit_resample(X , y )
df_train_RandomUnderSampler = pd.concat([rusX , rusy] , axis = 1)

In [61]:
df_train_RandomUnderSampler['OS'].value_counts()

OS
0.0    61
1.0    61
Name: count, dtype: int64

In [92]:
df_train_RandomUnderSampler.to_csv('df_train_RandomUnderSampler.csv' , index=False)

Random Over Sampling with imbalanced-learn

In [66]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
rosX , rosy = ros.fit_resample(X,y)
df_train_RandomOverSampler = pd.concat([rosX , rosy] , axis = 1)

In [67]:
df_train_RandomOverSampler['OS'].value_counts()

OS
0.0    2075
1.0    2075
Name: count, dtype: int64

In [93]:
df_train_RandomOverSampler.to_csv('df_train_RandomOverSampler.csv' , index=False)

Under Sampling using Cluster Centroids

In [86]:
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state = 42)
X_cc, y_cc = cc.fit_resample(X, y)
df_train_ClusterCentroids = pd.concat([X_cc , y_cc] , axis=1)

/Applications/anaconda3/envs/quera/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [87]:
df_train_ClusterCentroids['OS'].value_counts()

OS
0.0    61
1.0    61
Name: count, dtype: int64

In [94]:
df_train_ClusterCentroids.to_csv('df_train_ClusterCentroids.csv' , index=False)

Over Sampling using SMOTE

In [80]:
from imblearn.over_sampling import SMOTE 
smote = SMOTE(random_state=42)
smX, smy = smote.fit_resample(X, y)
df_train_SMOTE = pd.concat([smX , smy] , axis=1)

In [81]:
df_train_SMOTE['OS'].value_counts()

OS
0.0    2075
1.0    2075
Name: count, dtype: int64

In [95]:
df_train_SMOTE.to_csv('df_train_SMOTE.csv' , index=False)